* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Assistant', sans-serif;
    font-weight: regular;
    background-color: white;
}

.container {
    background-color: white;
    margin: 0 auto;
}

.top-bar img {
    max-width: 100%;
    width: 100%;
    background-color: #517171;
}  

#home-hero-desktop {
    display: none;
}

#home-hero-mobile { 
    display: block;
}

.top-nav {
    background-color:#517171;
    width: 100%;
    height: 2rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.top-nav-inner {
    background-color: #3C312D; 
    width: 100%;
    height: 2rem;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.nav-item {
    display: inline-block;
    text-align: center;
    padding: 5px 20px 0 20px;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    text-align: center;
}

.nav-item a:hover {
    color: #E6A568;
}

.top-header {
    margin: 12px 0 14px 0;
}

h1 {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 3.25rem;
    color: #D76246;
    text-align: center;
    letter-spacing: -1 rem;
}

h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    color: #DE623F;
    text-align: center;
    margin-bottom: 0.75rem;
    line-height: 1.75rem;
}

.inner-top-bar {
    line-height: 4rem;
    max-width: 100%;
    background-color: #517171;
    }

.inner-top-bar h3 {
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    /* margin-bottom: 1.25rem; */
    /* line-height: 2rem; */
}

.info-block {
    width: 90%;
    margin: 10px auto;
    display: block;
    background-color: white;
    overflow: hidden;
}

.mobile-omit {
    display: none;
}

.info-pic img {
    width: 30%;
    float: left;
    margin-right: 20px;
}

.info-description {
    padding: 18px 10px 8px 10px;
    display: block;
}

.info-description h3 {
    color: #517171;
    vertical-align: top;
    font-family: "Rock Salt", cursive;
    letter-spacing: 1.5px;
    line-height: 1.75rem;
}

.info-description p {
    margin-bottom: 10px;
}

.workplace {
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: black;
}

.footer-bar {
    clear: both;
    /* margin-top: 10px; */
    padding-top: 10px;
    text-align: center;
}
    
.social a {
    text-decoration: none;
    color: #D76246;
    padding: 0 5%;
    text-align: center;
}

.social a:hover {
    color: #517171;
}

.copyright {
    margin-top: 12px;
    padding-bottom: 10px;
    font-size: .9rem;
}

/*
  * phones: < 768px
  * tablets: >= 768px
  * desktops: >= 992px
  * big desktops: >= 1200px
*/

@media screen and (min-width: 768px) {

    #home-hero-desktop {
        display: none;
    }
    
    #home-hero-mobile { 
        display: block;
    }

    #banner-main {
        font-size: 4rem;
    }

    #banner-sub {
        font-size: 3rem;
        margin: 8px 0 15px 0;
    }

    .info-description {
        margin: 5% 0 2% 0;
        padding: 0 8%;
        display: block;
    }

    .mobile-omit {
        display: inline;
    }

    .int__main-head {
        font-size: 3.25rem;
    }

    .footer-bar {
        clear: both;
        padding-top: 25px;
        text-align: center;
    }
} 


@media screen and (min-width: 992px) {
    
    .info-description p {
        padding: 0 ;
        display: block;
    }

    #home-hero-mobile {
        display: none;
    }
    
    #home-hero-desktop { 
        display: block;
    }

    #home__main-head {
        float: left; 
        text-align: right;
        padding-left: 25px;
}

    #banner-main {
        text-align: right;
    }

    #banner-sub {
        text-align: right;
    }

    .info-block {
        margin: 0 0 10px 0;
        padding: 0;
        float: left;
        max-width: 55%;
    }
}
